.event {
    list-style: none;
    display: block;
    padding-bottom: 5px;
}

.header {
    display: inline-block;
    font-weight: 600;
    font-size: 17px;
    line-height: 25px;
    margin-bottom: 0;
    margin-top: 6px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.info {
    font-size: 16px;
    line-height: 22px;
    color: #808080;
    display: block;
}
