.day {
    background: #f8f8f8;
    padding: 20px 20px;
    border-radius: 6px;
    list-style: none;
    display: block;
    margin-bottom: 20px;
}

.header {
    font-size: 18px;
    line-height: 22px;
    color: #808080;
}

.list {
    padding-top: 2px;
    padding-left: 0;
}